.background_error{
    background: linear-gradient(287.78deg, #0D112E 0%, #0D112E 29.76%, #21294E 48.82%, #262E55 66.17%, #262E55 92.24%);
    height: 100vh;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.image404{
    overflow: auto;
    border-radius: 30px;
    /* border: 3px solid blueviolet; */
}

.container_err{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* border: 3px solid red; */
}