.container{
    background: linear-gradient(90deg, #DAD299 0.33%, #B0DAB9 100%);    
    display: flex;
    flex-direction: column;    
    align-items: center;
    height: 100vh;
}

.create_tittle{
    color:#F56132 ;    
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 60px;
    margin: 0px;
    letter-spacing: 2px;    
}

.cardLeft{
    background-image: url('../../images/fondo.png');
    display: flex;
    flex-direction: row;
    width: 1050px;
    height: auto;    
    border-radius: 30px;
}

.form{
    background-color: white;
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
    width: 380px;    
    height: auto;
    border-radius: 30px;    
    padding: 20px 50px;    
}

.renderAdd{
    display: flex;
    flex-direction: column;
    width: 50%;    
    align-items: center;
    padding: 0 10px 0 10px;
}

.altura{
    display:flex ;    
    margin: 0 0 18px 0;
    width: 350px;
}

.columnas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.columnasLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 104px;
}

.imagesvg{
    width: 45%;
}

.tittle_input{    
    text-align: center;    
    margin: 0 0;
}

.box{
    display: flex;    
    display: flex ;
    flex-direction: column;
    margin: 1px 0;
}

.labels{
    font-weight: bold;      
    padding: 0 5px 0 5px;
}

.input{    
    padding-left: 5px;    
    background-color: rgba(219, 218, 218, 0.322);
    border: 2px solid #3DACEF;
    border-radius: 4px;
    font-size: 16px;
    margin: 2px 0 0 30px;
}

.input_img{
    width: 240px;
    text-align: start;
    background-color: rgba(219, 218, 218, 0.322);
    border: 2px solid #3DACEF;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 0 0 10px;    
}

.input_temp{
    background-color: rgba(219, 218, 218);
    border: 2px solid rgb(35, 152, 215);
    border-radius: 1ex;
    font-size: 15px;
}

.box_labels{
    margin: 0 0px 18px 10px;
}

.inlineFirst{
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
    width: 350px;
}

.temp_selected{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 2px 1px;
}

.delete_temps{
    display: flex;
    background-color: transparent;    
    border-color: transparent;    
    margin: 1px 1px;
}

.inline{
    /* border: 1px solid rgb(139, 83, 0);     */
}

.inline_temp{
    margin: 0 0 6px 0;
}

.delete_temps:hover{
    transform: scale(1.2);
    background-color: rgba(20, 19, 19, 0.322);
    border-radius: 50%;
}

.errors{
    color: #f75252;
    font-size: small;
    font-weight: bold;    
    text-align: center;
    margin: 2px 0;    
}  

.validations{
   color: #279605;
   font-size: small;
   font-weight: bold;
   margin-left: 5px;   
} 

.tittle_name{    
    color:#3DACEF ;
    font-family: 'Carter One', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 10px 0 0 0;
}

.detailImg{
    width: 500px;
    height: 300px;
    max-width: 70%;
    margin: 00px 0 10px 0;
    border-radius: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:space-around ;
    width: 400px;
    margin: 10px;
}

.button {
    background: #F56132;
    margin: 10px;
    height: auto;
    width: auto;
    padding: 2px 18px;
    border:none;
    border-radius: 30px;
    font-size: 25px;    
    letter-spacing: 0.3px;
    color:white;
    cursor: pointer;
    font-family: 'Bakbak One', cursive;
}

.button:hover {    
    background: linear-gradient(180deg, #3CB7DE 0%, #3FA3FF 100%);
    color:white ;	
    transition-delay: 0s;    
    transform:scale(1.1);
}

.button_block {
    background: linear-gradient(180deg, #f50202 0%, #9b3434 100%);    
    margin: 10px;
    height: auto;
    width: auto;
    padding: 2px 18px;
    border:none;
    border-radius: 30px;
    font-size: 16px;    
    letter-spacing: 0.8px;
    color:white;
    cursor: pointer;
    font-family: 'Bakbak One', cursive;
}






