.search_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* border: 1px solid black; */
    
}

.input_search{
    background-color: white;
    border: none;    
    border-radius: 1ex;
    font-size: 18px;
    color: black;
    font-weight: bold;    
    width: 80%;
    height: 28px;
    padding-left: 10px;
    text-align: center;    
}

.button_search{
    display: flex;
    cursor: pointer;
    width: auto;    
    border: none;
    background: none;
    font-size: 25px;    
}

.button_search:hover{
    transform: scale(1.2);
}

::placeholder {
    color: #3DACEF;    
 }


 .reload_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

.icon_reload{
    margin-right: 10px;
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.icon_reload:hover{
    transform: scale(1.2);
    
}