@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
*{
    text-decoration: none;
}

.background {
    background: linear-gradient(90deg, #DAD299 0.33%, #B0DAB9 100%);    

    position: relative;
    display: flex;    
    align-items: center;        
}

.container_ld{    
    flex-basis: 50%;
    padding-left: 100px;
    overflow: hidden;
}

.welcome_title{
    font-family: 'Mouse Memoirs', sans-serif;        
    font-size: 80px;
    text-align: start;
    color: #F56132;
    margin: 0 0;
}

.welcome_subtitle{    
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 2px;       
    font-size: 30px;
    text-align: start;
    color: rgb(255, 255, 255);
    text-shadow: black 0.1em 0.1em 0.3em;    
}

.image_ld{
    width: 100vh;
    flex-basis: 50%;
    position: relative;
    text-align: center;
}

.button_intro {
    margin: 10px;
    height: auto;
    width: 190px;
    padding: 10px;
    background-color: #F56132;
    border:none;
    border-radius: 30px;
    font-size: 28px;
    color:white;
    cursor: pointer;    
    text-decoration: none;
    font-family: 'Bakbak One', cursive;    
}

.button_intro:hover {    
    background: linear-gradient(180deg, #3CB7DE 0%, #3FA3FF 100%);
    color:white ;	
    transition-delay: 0s;    
    transform:scale(1.1);
}

@media screen and (max-width: 500px){
    .background{
        flex-direction: column;
        justify-content: center;
        min-height: 101vh;
    }
    .container_ld{    
        flex-basis: 40%;
        padding-left: 15px;
        overflow: hidden;
    }
    .image_ld{
        width: 50vh;
        flex-basis: 50%;
        position: relative;        
        text-align: center;
        padding-right: 0;
    }
    .welcome_title{
        font-family: 'Mouse Memoirs', sans-serif;        
        font-size: 50px;
        text-align: start;
        color: #F56132;
        margin: 0 0;
    }
    
    .welcome_subtitle{    
        font-family: 'Mouse Memoirs', sans-serif;
        letter-spacing: 2px;       
        font-size: 20px;
        text-align: start;
        color: rgb(255, 255, 255);
        text-shadow: black 0.1em 0.1em 0.3em;    
    }
}